<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43557778059-0jkg0p3dc1g4fmhh756jrc62hk76ogaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43557778059-0jkg0p3dc1g4fmhh756jrc62hk76ogaa</string>
	<key>API_KEY</key>
	<string>AIzaSyA56L0WTH7nxRuKdDjqXu__A3an2paPuZA</string>
	<key>GCM_SENDER_ID</key>
	<string>43557778059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.janvaverka.TabataExercise</string>
	<key>PROJECT_ID</key>
	<string>tabataexercise-60a1c</string>
	<key>STORAGE_BUCKET</key>
	<string>tabataexercise-60a1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43557778059:ios:0a9f59466d46b415739a8e</string>
</dict>
</plist>